aside {
  > nav {
    display: flex;
    flex-direction: column;
    gap: 8px;

    > a {
      background-color: #ccc;
      text-decoration: none;
      color: black;
      padding: 8px;
      display: block;
    }
    > a:hover {
      background-color: #333;
    }
  }
}

aside.hidden {
  display: none;
}

@media (min-width: 768px) {
  aside {
    display: block !important;
  }
}
